###############################################################################
# contacts.cfg
###############################################################################



###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################

# In this simple config file, a single contact will receive all alerts.

define contact{
        contact_name                    root
        alias                           Root
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,r
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           root@localhost
	
	# temporarily disable notifications to root to test slack integration
	host_notifications_enabled 0
	service_notifications_enabled 0
        }



###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

define contactgroup{
        contactgroup_name       admins
        alias                   Nagios Administrators
        }

define contactgroup {
	contactgroup_name	ofnoc
	alias			OpenFest NOC Team
	members			slack
}

define contact {
	contact_name	zeridon
	alias		Vladimir Vitkov
	service_notification_period     24x7
	host_notification_period        24x7
	service_notification_options    w,u,c,r
	host_notification_options       d,r
	service_notification_commands   notify-service-by-email
	host_notification_commands      notify-host-by-email
	email				vvitkov@linux-bg.org
}

define contact {
	contact_name	lz1irq
	alias		Ivaylo Markov
	service_notification_period     24x7
	host_notification_period        24x7
	service_notification_options    w,u,c,r
	host_notification_options       d,r
	service_notification_commands   notify-service-by-email
	host_notification_commands      notify-host-by-email
	email				ivo@schupen.net
}

define contact {
      contact_name                             slack
      alias                                    Slack
      service_notification_period              24x7
      host_notification_period                 24x7
      service_notification_options             w,u,c,r
      host_notification_options                d,r
      service_notification_commands            notify-service-by-slack
      host_notification_commands               notify-host-by-slack
}

